@model Service
@using LogisApp.Models

<div class="ms-5 mb-5 mt-5">
    <h1>
        DEATIL PAGE OF @Model.Title
    </h1>
</div>

<div class="ms-5">
    <div class="mb-5">
        <img src="~/assets/img/@Model.Image" alt="" class="img-fluid"> <br />
     </div>

     <div>
          <p>@Model.Desc</p>
     </div>

</div>